.nav-bar {
	background-color: $primary;
	width: 100vw;
	color: $white;
	font-family: $exo;
	font-weight: 400;
	height: 3.25rem;
	position: fixed;
	overflow: hidden;
	z-index: 9999;
	@include respond(phone-large) {
		height: 2.5rem;
	}

	.logo {
		height: 2.6rem;
		width: auto;
		margin: 0 1rem;
		@include respond(phone-large) {
			display: none;
		}
	}
	ul {
		height: 100%;
		width: 90%;
		display: grid;
		margin: 0rem;
		column-gap: 0rem;
		justify-items: end;
		grid-column-gap: 2rem;
		justify-content: center;
		align-content: center;
		align-items: center;
		grid-template-columns: max-content repeat(5, 10%);
		@include respond(phone-large) {
			justify-content: space-around;
		}
	}
	li {
		font-size: 0.9rem;
		justify-self: center;
		color: $white;
		display: inline-block;
		@include respond(phone-large) {
			font-size: 0.7rem;
		}
		&:hover {
			text-decoration: underline;
			color: $secondary;
		}
	}
}
