.product-details {
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;

	.product {
		width: 100%;
		overflow: hidden;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			overflow: hidden;
			max-height: 450px;
			position: relative;
		}

		.text-box,
		.ingredients,
		.nutrition-facts {
			justify-items: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 1rem 2rem;
			margin: 0;
		}

		.ingredients {
			ul {
				list-style: circle;
				list-style-position: outside;
				width: 90%;
				margin: 1rem;
			}
		}
	}
}
