.pizzas,
.drinks,
.desserts {
	margin: auto;
	button {
		background-color: transparent;
		border: none;
	}
	.category-card img {
		max-height: 400px;
		margin-top: 1.7rem;
	}
	ul,
	.category-card .text-box {
		width: 80%;
		display: grid;

		margin: 1rem auto;
		.category-description {
			margin: 2rem auto;
		}
		.category-subtitle {
			display: none;
		}
	}
	ul {
		display: grid;
		grid-gap: 2rem;
	}
	.product-card {
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		button {
			background: transparent;
			transition: all 0.25s;
			box-shadow: 0 4px 4px rgb(30 30 100 / 25%);
			border-radius: 2px;
			overflow: hidden;
			width: 100%;
			height: auto;
			cursor: pointer;
			@include cardGrid();
			img {
				box-shadow: 0 4px 4px rgb(30 30 100 / 25%);
				max-height: 100%;
				max-width: 100%;
			}
			.text-box {
				width: 100%;
				margin: 0;
				height: auto;
			}
		}
		.product-name {
			padding: 1rem auto;
			padding-top: 0rem;
			font-family: $exo;
			text-transform: uppercase;
			font-weight: 700;
		}
		.product-the{
			padding: 0;
		}
	}

}
