.pizzas,
.drinks,
.desserts {
	margin: auto;
	button {
		background-color: transparent;
		border: none;
	}
	ul,
	.category-card .text-box {
		width: 80%;
		display: grid;
		margin: 1rem auto;
		.category-description {
			margin: 2rem auto;
		}
		.category-subtitle {
			display: none;
		}
	}
	ul {
		display: grid;
		grid-gap: 2rem;
	}
	.product-card {
		button {
			background: transparent;
			transition: all 0.25s;
			box-shadow: 0 4px 4px rgb(30 30 100 / 25%);
			border-radius: 2px;
			overflow: hidden;
			width: 100%;
			height: auto;
			cursor: pointer;
			@include cardGrid();
			img{
							box-shadow: 0 4px 4px rgb(30 30 100 / 25%);

			}
			.text-box {
				width: 100%;
				margin: 0;
				height: auto;
			}
		}
		.product-name {
			padding: 1rem;
			padding-top: 0rem;
			font-family: $exo;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
	h2,
	h1,
	p {
		text-align: left;
	}
	h2 {
		font-family: $oleo;
		color: $primary;
	}
	h1 {
		font-family: $exo;
		text-transform: uppercase;
		font-weight: 900;
	}
	h3 {
		padding-left: 1rem;
		font-family: $oleo;
		text-align: left;
	}
}
