.pizzas,
.drinks,
.desserts {
	margin: auto;

	ul, .category-card .text-box{
		width: 80%;
		grid-template-columns: repeat(auto-fit, minmax(px, 1fr));
		margin: 1rem auto;
		.category-description{
			margin: 2rem auto;
		}
		.category-subtitle{
			display: none;
		}
	}

	.product-card {
		button {
			overflow: hidden;
			@include cardGrid();
			img {
				width: 100%;
			}
			.text-box {
				width: 100%;
				margin: 0;
			}
		}
		.product-name {
			padding: 1rem;
			padding-top: 0rem;
			font-family: $exo;
			text-transform: uppercase;
			font-weight: 700;
		}
		.text-box {
			margin: 0;
		}
	}
	button {
		border-color: transparent;
		background: transparent;
	}
	h2,
	h1,
	p {
		text-align: left;
	}
	h2 {
		font-family: $oleo;
		color: $primary;
	}
	h1 {
		font-family: $exo;
		text-transform: uppercase;
		font-weight: 900;
	}
	h3 {
		padding-left: 1rem;
		font-family: $oleo;
		text-align: left;
	}
}
