.pizzas,
.drinks,
.desserts {
	margin: auto;
	.category-card img {
		width: 100%;
		object-fit: cover;
		max-height: 500px;
	}
	ul,
	.category-card .text-box {
		width: 80%;
		display: grid;
		margin: 1rem auto;
		.category-description {
			margin: 2rem auto;
		}
		.category-subtitle {
			display: none;
		}
		.btn{
			display: none;
		}
	}
	ul {
		display: grid;
		grid-gap: 2rem;
		@include respond(big-desktop){
		grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
		}
	}
	.product-card {
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		margin:0;
		button {
			background: transparent;
			border-color: transparent;
			transition: all 0.25s;
			box-shadow: 0 4px 4px rgb(30 30 100 / 25%);
			border-radius: 2px;
			overflow: hidden;
			width: 100%;
			height: auto;
			cursor: pointer;
			align-items: center;


			@include respond(big-desktop) {
				grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
				max-width: 600px;
				max-height: auto;
				justify-content: center;
				margin: 0;
			}

			@include cardGrid();
			img {
				box-shadow: 0 4px 4px rgb(30 30 100 / 25%);
				max-height: 100%;
				max-width: 100%;
			}
			.text-box {
				width: 100%;
				margin: 0;
				height: auto;
				max-height: 100%;
				max-width: 100%;
				overflow: hidden;
			}
		}
		.product-name {
			padding: 1rem auto;
			padding-top: 0rem;
			font-family: $exo;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 1.5rem;
		}
		.product-the {
			padding: 0;
		}
	}
}
