/* MEDIA QUERY BREAKPOINTS
    0-576px for portrait phones.
    577-768px for tablets in portrait mode.
    769-991 for tablets in landcape mode.
    992-1200px for laptops.
    1200px+ for large devices.
*/

@mixin cardGrid() {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-gap: 0;
	align-content: center;
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
	.text-box {
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 2rem;
		margin: auto 1rem;
	}
}

@mixin after($content: "", $pos: absolute) {
	position: relative;
	&::after {
		content: $content;
		position: $pos;
		@content;
	}
}

@mixin hover-lift() {
	box-shadow: 0em 0.3em 0.5em 0em rgba(black, 0.2);
	transition: transform 250ms ease-in-out;
	@include after() {
		box-shadow: 0em 0em 1.25em 0em rgba(black, 0.4);
		transition: transform 250ms ease-in-out;
		opacity: 0;
	}
	&:hover,
	&:focus {
		transform: scale(1.1);
		&::after {
			opacity: 1;
		}
	}
}

@mixin respond($breakpoint) {
	@if $breakpoint== phone {
		@media only screen and (max-width: 36em) {
			@content;
		}
	}

	@if $breakpoint== phone-large {
		@media only screen and (max-width: 37em) {
			@content;
		}
	}

	@if $breakpoint== tab-port {
		@media only screen and (max-width: 48em) {
			@content;
		}
	}

	@if $breakpoint== tab-land {
		@media only screen and (max-width: 61.9em) {
			@content;
		}
	}

	@if $breakpoint== big-desktop {
		@media only screen and (min-width: 75em) {
			@content;
		}
	}
}
