//COLORS
$primary: #e1651f;
$secondary: #425959;
$white: #fff;
$dark: #1c1c1c;
$primary-transparent: #f5e7e0e0;

//fonts

$exo: "Exo 2", sans-serif;
$roboto: "Roboto Mono", sans-serif;
$oleo: "Oleo Script", sans-serif;

//GRID VARIABLES
$horizontal-gutter: 6rem;
$vertical-gutter: 6rem;
$vertical-gutter-small: 4rem;
