//COLORS
$primary: #e1651f;
$secondary: #425959;
$white: #fff;
$dark: #1c1c1c;
$primary-transparent: #f5e7e0e0;

//FONTS

$exo: "Exo 2", sans-serif;
$roboto: "Roboto Mono", sans-serif;
$oleo: "Oleo Script", sans-serif;

//SPACE VARIABLES
$space-x-small: .5rem;
$space-small: 1rem;
$space-medium: 1.5rem;
$space-large: 2rem;
$space-x-large: 4rem;