.home {
	width: 100%;
}
.hero {
	height: 100vh;
	width: 100vw;
	position: relative;
	width: 100%;
	margin: auto;
	color: $white;
	display: grid;
	justify-content: center;
  	align-content: center;

	.background {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		overflow: hidden;
		position: absolute;
	}
	span{
		position: relative;
		display: block;
		margin: auto;
	}
	&-title {
		font-family: $exo;
		font-weight: 900;
		font-size: 4rem;
		text-align: center;
		top:100%;
	}
	&-subtitle {
		font-family: $oleo;
		font-weight: regular;
		font-size: 1.8rem;
		text-align: center;
		top:105%;
	}
}
