html {
	font-family: "Roboto Mono", sans-serif;
}

h1,
.h1 {
	font-size: 2.2rem;
	line-height: 2.56rem;
}
h2,
.h2 {
	font-weight: 500;
	font-size: 1.375rem;
	line-height: 1.75rem;
}
h3,
.h3 {
	font-size: 1rem;
	line-height: 1.375rem;
}
p,
.p {
	font-size: 1rem;
	line-height: 1.375rem;
}
h2,
h1,
p {
	text-align: left;
}
h2 {
	font-family: $oleo;
	color: $primary;
}
h1 {
	font-family: $exo;
	text-transform: uppercase;
	font-weight: 900;
}
h3 {
	padding-left: 1rem;
	font-family: $oleo;
	text-align: left;
}
